* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

.App {
  font-family: Lato;
  display: grid;
  grid-template-rows: 6rem calc(80vh - 6rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.navigation {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navigation__logo {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  margin-left: 4rem;
  letter-spacing: 3px;
  color: #fff;
}

.navigation__list {
  font-family: Lato;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  margin-right: 4rem;
  list-style: none;
  font-size: 1.5rem;
  color: #fff;
}

.navigation__list-item {
  margin: 0 1.5rem;
}

.navigation__list-item:hover {
  color: turquoise;
}

.intro {
  grid-column: full-start / full-end;
  background-color: #282c34;
  min-height: calc(80vh - 6rem);
  color: white;
  padding-top: 6rem;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.intro__shape {
  grid-column: center-start / 2;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
}

.intro__image {
  width: 20rem;
  transition: all .5s;
}

.intro__image:hover {
  width: 22rem;
  transform: translate(-5%, 0%);
}


.intro__details {
  grid-column: 3 / center-end;
  margin-left: 4rem;
  text-align: left;
  font-size: 3rem;
  font-weight: lighter;
}

.section__headline {
  grid-column: full-start / full-end;
  text-align: center;
  font-size: 4em;
  margin-top: 3rem;
}

.projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem; 
  padding: 5rem 0;
}

.project {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px lightgray;
  position: relative;

  display: flex;
  flex-direction: column;
}

.project__shape {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project__img {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: all .5s;
}

.project__img:hover {
  transform: scale(1.2)
}

.project__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
  text-align: center;
}

.project__details {
  text-align: left;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.project__tech {
  margin: .5rem 1.5rem;
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
  color: turquoise;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.btn {
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 70%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  align-self: center;
}

.btn:hover {
  background-color: turquoise;
}

.contact {
  grid-column: full-start / full-end;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: turquoise;
  padding-top: 6rem;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.contact__form {
  grid-column: center-start / center-end;
  color: white;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: [center-start] repeat(2, [col-start] minmax(min-content, 100rem) [col-end]) [center-end];
}

.contact__group:not(:last-child) {
  margin-bottom: 2rem;
}

.contact__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  transition: all .3s;
}

.contact__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  border-bottom: 3px solid darkturquoise
}

.contact__input:focus:invalid {
  border-bottom: 3px solid orangered
}

.contact__input::-webkit-input-placeholder {
  color:grey
}

.contact__input:placeholder-shown + .contact__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.contact__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}


