* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

.App {
  display: grid;
  grid-template-rows: 6rem calc(100vh - 6rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.navigation {
  /* height: 6rem; */
  grid-column: full-start / full-end;
  align-items: baseline;
  background-color: black;
}

.navigation__logo {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 0 2rem;
  letter-spacing: 3px;
  color: #fff;
}

.navigation__list {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 2rem;
}

.navigation__list-item {
  padding: 1rem;
  width: 10rem;
}

.navigation__list-item:hover {
  padding: 1rem;
  color: lightblue;
}

.intro {
  grid-column: full-start / full-end;
  background-color: #282c34;
  min-height: calc(100vh - 6rem);
  color: white;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-column-gap: 2rem;

}

.intro__image {
  grid-column: 2 / 3;
  width: 20rem;
}

.intro__details {

  grid-column: 5 / center-end;
  text-align: left;
  font-size: 3rem;
  font-weight: lighter;
}

.section__headline {
  text-align: center;
  font-size: 4em;
  margin: 5rem;
}

/* .projects {
  display: grid;
  grid-column: center-start / center-end;
} */

/* .project {

  width: 20rem;
  margin: 1.5rem;
}

.project__img {
  background-color: aquamarine;
  height: 10rem;
  width: auto;
}

.project__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.project__details {
  text-align: left;
  padding: 0 1rem;
}

.project__tech {
  margin-top: 1rem;
  font-weight: bold;
}

.btn {
  border: none;
  height: 2.5rem;
  width: 10rem;
  margin: 2rem;
  align-self: center;
}

.btn:hover {
  background-color: turquoise;
} */


